* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content {
    display: flex;
    margin: 4rem;
    justify-content: center;
    align-items: center;
}

.post-card {
    background-color: #111;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #333;
    border: 1px solid #333;
    width: 30rem;
    padding: 1rem;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post-info {
    flex: 1;
    border-top: 1px solid #222;
}

.posted-by {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.posted-by span {
    font-weight: bold;
    color: #fff;
}

.back {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #e90e0e;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.back:hover {
    background-color: #9e0808;
}

.time-ago {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 20px;
}

.post-content p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.5;
    /* border: 1px solid #333; */

}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
    color: #444;
    /* border: 1px solid #333; */
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0f0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0c0;
}
span {
    padding-left: 1rem;
}

input[type="text"],
input[type="category"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border: 1px solid #111;
    border-radius: 5px;
    font-size: 1.3rem;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

/* Specific styles for textarea */
textarea {
    height: 200px; /* Adjust height to suit your needs */
    padding: 10px; /* Larger padding for content */
    resize: vertical; /* Allow resizing vertically only */
    font-size: 1.3rem;
}



textarea::placeholder,
input::placeholder {
    color: #333;
}

textarea:focus,
input:focus {
    outline: none; 
    border-color: #0f0; 
}
