<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="../static/post.css">
</head>

<body>
    <div class="back">
        <a href="/" class="time-ago">Back Home</a>
    </div>
    <div class="content">
        <div class="post-card">
            <form action="/New_Post" method="post">
                <div class="post-header">
                    <img src="{{.Image}}" alt="User" class="profile-pic">
                    <div class="post-info">
                        <p class="posted-by"><span>{{.Name}}</span></p>
                    </div>
                </div>
                <div class="post-content">
                    <!-- <div class="post-info">
                        <p class="posted-by"><span>upload_img</span></p>
                    </div> -->
                    <div class="post-info">
                        <input type="text" placeholder="Title" name="title">
                    </div>
                    <div class="post-info">
                        <input type="text" placeholder="Category" name="category">
                    </div>
                    <div class="post-info">
                        <textarea type="text" placeholder="Content" name="content"></textarea>
                    </div>
                </div>

                <div class="post-footer">
                    <button type="submit" class="btn">Post</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>